<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="description" content="Wine.js" />
<meta name="keywords" content="Wine.js"/>
<meta name="author" content="daniel, findyourmagic@foxmail.com" /> <!-- 网页作者 -->
<meta name ="viewport" width="device-width" content ="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" href="./static/style.css">
<link rel="stylesheet" href="http://cdn.staticfile.org/highlight.js/8.3/styles/paraiso.light.min.css">
<title>Wine.js</title>
</head>
<body>
<dl class="logo">
	<dt>
		<p>WINE.JS</p>
		<p><img src="./static/logo.png" alt=""></p>
	</dt>
	<dd>Keep simple</dd>
	<dd>A javascript user interface library base on jQuery</dd>
</dl>
<div class="layout">