<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .error {
            color: red;
        }
        .hide {
            display: none;
        }
    </style>
</head>
<body>
<div class="J-form"></div>
<script type="text/javascript" src="../../lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../lib/ejs.js"></script>
<script type="text/javascript" src="../../js/wine.js"></script>
<script type="text/template" class="template">
    <ul>
        <% for ( var i = 0; i < apps.length ; i++ ){ %>
            <input type="text" wine-bind="apps[<%= i %>].name">
        <% } %>
    </ul>
</script>
<script type="text/javascript">
    var right = function(data, $input){
        console.log('right');
    },
    wrong = function(data, $input){
        console.log('error');
    };

    $(function(){
        // 封装成Wine对象
        var form = $('.J-form')
        .wine()
        .setTemplate($('.template').html())
        .setValidate([
            {
                name : 'apps.$.name', // 需要验证的属性
                rule : /^.{3,}$/, // 验证用正则
                success : right, // 验证成功执行的函数，已在前面声明
                fail : wrong, // 验证失败执行的函数，已在前面声明
                auto : true // 是否自动在表单元素触发change函数时自动验证
            }
        ])
        .value({
            apps : [
                { name: 'app_1'},
                { name: 'app_2'}
            ]
        })
        .render();
    });
</script>
</body>
</html>