a { color: #333; text-decoration: none; }
html,body {
	padding: 0;
	margin: 0;
	background-color: #eee;
}
body {
	background: url("bg.png");
}
.layout {
	margin: 0 auto 20px auto;
	width: 900px;
	padding: 20px 30px;
	background-color: #fff;
	box-shadow: 0 0 3px #333;
	position: relative;
}
.logo {
	margin: 0;
	color: #333;
	text-align: center;
	padding: 30px;
}
.logo p {
	margin: 0;
	padding: 0;
}
.logo dt {
	font: 60px Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
}
.logo dd {
	font: 20px Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
	padding: 0;
	margin: 0;
	text-align: none;
}
.nav {
	position: absolute;
	right: 100%;
	top: 0;
	bottom: 0;
	margin:40px 0 0 0;
	text-align: right;
}
.nav li {
	list-style: none;
	padding: 5px 10px;
	margin: 0;
	font-size: .8em;
}
.nav a {
	color: #000;
	white-space: nowrap;
}
.nav a:hover {
	/*background-color: #00a0e9;*/
}
pre {
	background-color: #fff6ef;
	padding: 10px;
	border: 1px solid #bbb;
	border-radius: 2px;
	overflow: auto;
}
.footer {
	text-align: center;
	font: 14px Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
	color: #333;
	overflow: hidden;
}

@media screen and (max-width: 1200px) {
	.nav {
		position: static;
		text-align: left;
		border-bottom: 1px solid #ccc;
		padding: 0;
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 1000px) {
	.layout {
		width: auto;
		margin: 0 auto;
		box-shadow: none;
	}
}